@page "/coaches/{Id:int}"
@inherits CoachDetailsBase


<h5>Coach details</h5>

@if(Coach == null || Events == null)
{
    <h3>Loading details...</h3>
}
else
{
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Name: @Coach.FirstName @Coach.LastName</h5>
        <h6 class="card-subtitle mb-2 text-muted">Year of Birth: @Coach.YearOfBirth</h6>
        <h6 class="card-subtitle mb-2 text-muted">Id: @Coach.Id</h6>
      </div>
    </div>
    <div class="py-3">
        <button type="button" class="btn btn-danger py-2" @onclick="DeleteCoach">Delete coach</button>
    </div>
    <h4>Coach events:</h4>
    <DisplayEvents Events=@Events/>   
}
