@page "/coaches/{Id:int}"
@inherits CoachDetailsBase


<h5>Coach details</h5>

@if(Coach == null || Events == null)
{
    <h3>Loading details...</h3>
}
else
{
    <h4>@Coach.FirstName</h4>
    <h3>@Coach.LastName</h3>
    <h3>@Coach.YearOfBirth</h3>
    <DisplayEvents Events=@Events/>   
}
