@page "/"

<PageTitle>Gyms</PageTitle>

<h1>Welcome to our Gym management app</h1>

Here you can manage your gym, coaches, events, make reservations and more.

@*<SurveyPrompt Title="How is Blazor working for you?" />*@
