@page "/events"
@inherits EventsBase

@if(Events == null)
{
    <h3>Loading events...</h3>
}
else
{
    <h3 class="mb-5">Events</h3>
    <div class="py-3">
        <button type="button" class="btn btn-success py-2" onclick="location.href='/events/add'">Add event</button>
    </div>
    <DisplayEvents Events="@Events"/>
}
